<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7567f1">  <td>21/06/26 15:22:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_Login.values()[pri:0, instance:com.nuventure.testcases.TC_Login@10bbd20a]">&gt;&gt;values</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>21/06/26 15:22:55</td>   <td>585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.LoginApp(java.lang.String, java.lang.String)[pri:0, instance:com.nuventure.testcases.TC_Login@10bbd20a]">LoginApp</td> 
  <td>main@924477420</td>   <td></td> </tr>
</table>
